<div class="container">
    <div class="background-image">
         <div class="wrapper">
              <div class="form-box register">
                   <h2>Registeration</h2>
                   <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
                         <div class="input-box">
                             <span class="icon"><i class="icon ion-md-person"></i></span>
                             <input type="text" id="name" formControlName="name" required>
                             <label>Name</label>
                        </div>
                        <div class="input-box">
                             <span class="icon"><i class="icon ion-md-person"></i></span>
                             <input type="text" id="userName" formControlName="userName" required>
                             <label>Username</label>
                        </div>
                        <div class="input-box">
                             <span class="icon"><i class="icon ion-md-mail"></i></span>
                             <input type="email" id="userEmail" formControlName="userEmail" required>
                             <label>Email</label>
                        </div>
                        <div class="input-box">
                             <span class="icon"><i class="icon ion-md-lock"></i></span>
                             <input type="password" id="userPassword" formControlName="userPassword" required>
                             <label>Password</label>
                        </div>
                        <div class="remember-forgot">
                             <label><input class="btn-checkbox" type="checkbox">agree to the terms and conditions</label>
                        </div>
                        <button type="submit" class="btn">Register</button>
                        <div class="login-register">
                             <p>Already have an account?><a href="/login">Login</a></p>
                        </div>
                   </form>
              </div>
         </div>
    </div>
</div>